<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Hanbit.co.kr.lms.mapper.CertificateMapper">
	<delete id="deleteCertification"
			parameterType="int">
		DELETE FROM certification 
		WHERE certification_no=${certificationNo}
	</delete>
	
	<select id="selectCertification"
			parameterType="int"
			resultType="Hanbit.co.kr.lms.vo.Certification">
		SELECT 
			certification_no certificationNo
			,member_id	memberId
			,certification_name certificationName
			,certification_issued certificationIssued
			,get_date getDate
			,create_date createDate
			,update_date updateDate
		from certification
		WHERE certification_no = #{certificationNo}
	</select>
	
	<update id="updateCertification"
			parameterType="Hanbit.co.kr.lms.vo.Certification">
		UPDATE certification SET
			certification_name = #{certificationName}
			,certification_issued = #{certificationIssued}
			,get_date = #{getDate}
		WHERE certification_no =#{certificationNo}
	
	</update>
	
	<update id="insertCertification"
			parameterType="Hanbit.co.kr.lms.vo.Certification">
		INSERT INTO certification 
				(member_id, certification_name, certification_issued, get_date, create_date, update_date)
			VALUE	
				( #{memberId},#{certificationName},#{certificationIssued},#{getDate}, NOW(),NOW() )
	</update>

	<select id="paymentStudentList" parameterType="String" resultType="java.util.Map">
		SELECT r.lecture_name lectureName
			, s.student_name studentName
			, r.payment payment
			, r. create_date createDate
		FROM  registration r inner join student s
		on r.student_id = s.student_id
		WHERE s.student_id = #{studentId}
	</select>
	
	<select id="completionList" parameterType="String" resultType="java.util.Map">
		SELECT r.lecture_name lectureName
			, s.student_name studentName
			, l.subject_name subjectName
			, t.begin_class beginClass
			, t.end_class endClass
		FROM registration r INNER JOIN lec l
		ON r.lecture_name = l.lecture_name
		INNER JOIN time_table t
		ON l.lecture_name = t.lecture_name
		INNER JOIN student s
		ON r.student_id = s.student_id
		WHERE t.end_class &lt; NOW() AND r.student_id = #{studentId}
	</select>
</mapper>