<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Hanbit.co.kr.lms.mapper.EnquiryBoardMapper">

	<select id="selectEnquiryBoardTotalCount" resultType="int"
		parameterType="String">
			SELECT COUNT(*) 
			FROM enquiry_board
			<where>
	            <if test="category != '전체' ">
	            category like concat(#{category})
	         	</if>
         	</where>
	</select>
	
	<select id="selectEnquiryBoardListByPage" resultType="Hanbit.co.kr.lms.vo.EnquiryBoard"
		parameterType="java.util.Map">
			SELECT 
				enquiry_board_no enquiryBoardNo
				, member_id memberId
				, content
				, category
				, create_date createDate
			FROM enquiry_board
			<where>
	            <if test="category != '전체' ">
	            category like concat(#{category})
	         	</if>
         	</where>
			ORDER BY create_date DESC
			LIMIT #{startRow}, #{rowPerPage}
		
	</select>
	
	<select id="selectEnquiryBoardOne" resultType="Hanbit.co.kr.lms.vo.EnquiryBoard"
		parameterType="int">
			SELECT 
				enquiry_board_no enquiryBoardNo			
				, member_id memberId
				, category
				, content
				, create_date createDate
				, update_date updateDate 
			FROM enquiry_board
			WHERE enquiry_board_no = #{enquiryBoardNo}
	</select>
	
	<insert id="insertEnquiryBoard" parameterType="Hanbit.co.kr.lms.vo.EnquiryBoard">
		INSERT INTO enquiry_board(
			member_id
			, content
			, category
			, create_date
			, update_date
			) VALUES (
			#{memberId}
			, #{content}
			, #{category}
			, NOW()
			, NOW()
			)
	</insert>
	
	<update id= "updateEnquiryBoard" parameterType="Hanbit.co.kr.lms.vo.EnquiryBoard">
		UPDATE enquiry_board SET 
			member_id = #{memberId}
			, content = #{content}
			, category = #{category}
			, update_date = NOW()
		WHERE enquiry_board_no = #{enquiryBoardNo} 
	</update>

	<delete id="deleteEnquiryBoard" parameterType="int">
		DELETE FROM enquiry_board
		WHERE enquiry_board_no = #{enquiryBoardNo}	
	</delete>
	
	<select id="selectEnquiryAnswerList" parameterType="int" resultType="Hanbit.co.kr.lms.vo.EnquiryAnswer">
		SELECT member_id memberId
		 , enquiry_answer_content enquiryAnswerContent
		 ,  create_date createDate
		FROM enquiry_answer
		WHERE enquiry_board_no = #{enquiryBoardNo}
		ORDER BY create_date DESC;
	</select>
	
	<delete id="deleteAnswer" parameterType="int">
		DELETE FROM enquiry_answer 
		WHERE enquiry_board_answer_no = #{enquiryBoardAnswerNo};
	</delete>
	
	<insert id="insertAnswer" parameterType="java.util.Map">
		INSERT INTO enquiry_answer (
			 enquiry_board_no
			, member_id
			, enquiry_answer_content
			, create_date
			, update_date
		) VALUES (
			 #{enquiryBoardNo}
			, #{memberId}
			, #{enquiryAnswerContent}
			, NOW()
			, NOW());
	</insert>
</mapper>