<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Hanbit.co.kr.lms.mapper.FaqMapper">
	<!-- 상세보기 -->
	<select id="getFaqOne" resultType="Hanbit.co.kr.lms.vo.Faq">
		SELECT
			 faq_no faqNo
			,manager_id managerId
			,title
			,content
			,create_date createDate
			,update_date updateDate
		FROM faq
		WHERE faq_no=${faqNo}
		order BY faq_no
	</select>
	<!--  리스트 -->
	<select id="getFaqListByPage" resultType="Hanbit.co.kr.lms.vo.Faq">
		SELECT
			 faq_no faqNo
			,manager_id managerId
			,title title
		 	,create_date createDate
		 FROM faq
		 ORDER BY create_date DESC
	</select>
	<!--  입력 -->
	<insert id="getInsertFaq" 
			parameterType="Hanbit.co.kr.lms.vo.Faq">
		INSERT INTO faq(
			title
			,manager_id 
			,content
			,create_date 
			,update_date 
		) VALUES (
			#{title}
			,#{managerId}
			,#{content}
			,NOW()
			,NOW()
		)
	</insert>
	<!--  삭제 -->
	<delete id="getDeleteFaq"
            parameterType="Hanbit.co.kr.lms.vo.Faq">
	         DELETE FROM
	            faq
	      WHERE faq_no = #{noticeNo}
	</delete>

	
</mapper>