<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Hanbit.co.kr.lms.mapper.KeepingMapper">
	<!-- 찜 추가 -->
	<insert id="insertKeeping"
			parameterType="Hanbit.co.kr.lms.vo.Keeping">
		INSERT INTO keeping(
			lecture_name
			,student_id
			,create_date
			,update_date
		) VALUES (
			#{lectureName}
			,#{studentId}
			,NOW()
			,NOW()
		);
		
	</insert>
	<!-- 해당 학생 찜 리스트 조회 -->
	<select id="getKeepingByStudentId"
			parameterType="String"
			resultType="Hanbit.co.kr.lms.vo.Keeping">
		SELECT 
			lecture_name lectureName
			,student_id studentId
			,create_date createDate
			,update_date updateDate
		FROM keeping
		WHERE student_id = #{studentId}
		
	</select>
	<!-- 해당 학생 찜 리스트 삭젠 -->
	<delete id="deleteKeeping"
			parameterType="Hanbit.co.kr.lms.vo.Keeping">
		DELETE FROM keeping
		WHERE student_id = #{studentId} AND lecture_name = #{lectureName}
			
	</delete>
	
</mapper>
