<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Hanbit.co.kr.lms.mapper.LecHomeworkMapper">
	<delete id="deleteHomework"
			parameterType="int">
		DELETE FROM homework_make
		WHERE homework_make_no = #{homeworkMakeNo}
	</delete>
	
	<update id="updateHomework"
			parameterType="Hanbit.co.kr.lms.vo.HomeworkMake">
		UPDATE homework_make SET
			homework_make_title = #{homeworkMakeTitle},homework_make_content = #{homeworkMakeContent},homework_deadline = #{homeworkDeadline}, update_date= now()
		WHERE homework_make_no = #{homeworkMakeNo}
	</update>
	
	<delete id="deleteSubmit"
			parameterType="int">
		DELETE FROM homework_submission
		WHERE homework_submission_no = #{homeworkSubmissionNo}
	</delete>
	
	<delete id="deleteFileOne"
			parameterType="int">
		DELETE FROM homework_file 
		WHERE homework_file_no = #{homeworkFileNo}
	</delete>
	<update id="updateScore"
			parameterType="Hanbit.co.kr.lms.vo.HomeworkSubmission">
		UPDATE homework_submission SET
			homework_score = #{homeworkScore}
		WHERE homework_submission_no = #{homeworkSubmissionNo}
	</update>
	
	<select id="selectSubmitFileList"
			parameterType="int"
			resultType="Hanbit.co.kr.lms.vo.HomeworkFile">
		SELECT
			homework_file_no homeworkFileNo
			,homework_submission_no homeworkSubmissionNo
			,homework_file_name homeworkFileName
			,homework_file_original_name homerworkFileOriginalName
		FROM homework_file 
		WHERE homework_submission_no = #{homeworkSubmissionNo}
	</select>
	
	<select id="selectSubmitOne"
			parameterType="int"
			resultType="Hanbit.co.kr.lms.vo.HomeworkSubmission">
		SELECT
			homework_submission_no homeworkSubmissionNo
			,homework_make_no homeworkMakeNo
			,student_id studentId
			,homework_submission_title homeworkSubmissionTitle
			,homework_submission_content homeworkSubmissionContent
			,homework_score homeworkScore
			,create_date createDate
		FROM homework_submission
		WHERE homework_submission_no = #{homeworkSubmissionNo}
	</select>
	
	<select id="selectFileNameList"
			parameterType="int"
			resultType="Hanbit.co.kr.lms.vo.HomeworkFile">
		SELECT 
			homework_file_name homeworkFileName
		FROM homework_file 
		WHERE homework_submission_no = #{homeworkSubmissionNo}
	</select>
	<update id="updateSubmit"
			parameterType="Hanbit.co.kr.lms.vo.HomeworkSubmission">
		UPDATE homework_submission SET
			homework_submission_title = #{homeworkSubmissionTitle}, homework_submission_content=#{homeworkSubmissionContent}
		WHERE homework_submission_no = #{homeworkSubmissionNo}
	</update>
	
	<delete id="deleteSubmitFile"
			parameterType="int">
		DELETE FROM homework_file
		WHERE homework_submission_no = #{homeworkSubmissionNo}
	</delete>
	
	<insert id="insertHomeworkFile"
			parameterType="Hanbit.co.kr.lms.vo.HomeworkFile">
		INSERT INTO homework_file
			(homework_submission_no, homework_file_name, homework_file_original_name,homework_file_original_type,homework_file_size,create_date,update_date)
		value
			(#{homeworkSubmissionNo}, #{homeworkFileName},#{homerworkFileOriginalName},#{homeworkFileOriginalType},#{homeworkFileSize},now(),now())
	</insert>
	
	<insert id="insertSubmitStudent"
			parameterType="Hanbit.co.kr.lms.vo.HomeworkSubmission">
		<selectKey resultType="int" keyProperty="homeworkSubmissionNo" order="AFTER">
			SELECT LAST_INSERT_ID() 
		</selectKey>
		INSERT INTO homework_submission
			(homework_make_no, student_id, homework_submission_title, homework_submission_content, create_date, update_date)
		VALUE
			(#{homeworkMakeNo},#{studentId},#{homeworkSubmissionTitle},#{homeworkSubmissionContent},NOW(),NOW())
	</insert>
	<select id="studentHomeworkList"
			parameterType="String"
			resultType="Hanbit.co.kr.lms.vo.HomeworkMake">
		SELECT 
			hm.homework_make_no homeworkMakeNo
			,hm.lecture_name lectureName
			,hm.homework_make_title homeworkMakeTitle
			,hm.homework_make_content homeworkMakeContent
			,hm.homework_deadline homeworkDeadline
			,hm.create_date createDate
			,r.student_id
			,hs.homework_score homeworkScore
			,hs.homework_submission_no homeworkSubmissionNo
		FROM registration r INNER JOIN homework_make hm 
			ON r.lecture_name = hm.lecture_name 
		left JOIN homework_submission hs
			ON hs.student_id = r.student_id
		WHERE r.student_id = #{studentId}
		<if test="lectureName != null and lectureName != '-----------------------------강좌선택--------------------------'">
			AND hm.lecture_name = #{lectureName}
		</if>
		GROUP BY hm.homework_make_no
		ORDER BY hm.create_date desc
	</select>
	<select id="lectureNameList"
			parameterType="String"
			resultType="Hanbit.co.kr.lms.vo.Registration">
		SELECT 
			lecture_name lectureName
		FROM registration 
		WHERE student_id = #{studentId}
	</select>

	<select id="selectHomeworkOne"
			parameterType="int"
			resultType="Hanbit.co.kr.lms.vo.HomeworkMake">
		SELECT 
			homework_make_no homeworkMakeNo
			,lecture_name lectureName
			,homework_make_title homeworkMakeTitle
			,homework_make_content homeworkMakeContent
			,homework_deadline homeworkDeadline
			,create_date createDate
			,update_date updateDate
		FROM homework_make
		WHERE homework_make_no = #{homeworkMakeNo}
	</select>
	
	<select id="homeworkSubmitList"
			parameterType="int"
	        resultType="java.util.Map">
	    SELECT 
			hm.lecture_name lectureName
			,hs.homework_submission_no homeworkSubmissionNo
			,hs.student_id studnetId
			,hs.homework_submission_title homeworkSubmissionTitle
			,hs.homework_submission_content homeworkSubmissionContent
			,hs.homework_score homeworkScore
			,hs.create_date createDate
			,hs.update_date updateDate
			,s.student_name studentName
		FROM homework_submission hs INNER JOIN homework_make hm
			ON hs.homework_make_no = hm.homework_make_no
		INNER JOIN student s
			ON hs.student_id = s.student_id
		WHERE hm.homework_make_no = #{homeworkMakeNo}
	</select>
	<select id="homeworkList"
			parameterType="Hanbit.co.kr.lms.vo.LecPlan"
			resultType="java.util.Map">
		SELECT
			h.homework_make_no homeworkMakeNo
			,h.lecture_name lectureName
			,h.homework_make_title homeworkMakeTitle
			,h.homework_make_content homeworkMakeContent
			,h.homework_deadline homeworkDeadline
			,h.create_date createDate
			,l.registration_number registrationNumber
		FROM homework_make h INNER JOIN lec l
		ON h.lecture_name = l.lecture_name INNER JOIN lec_plan lp
		ON l.lecture_name = lp.lecture_name
		where lp.teacher_id = #{teacherId} 
		<if test="lectureName != null and lectureName != '-----------------------------강좌선택--------------------------'">
			AND l.lecture_name = #{lectureName}
		</if>
		ORDER BY h.create_date desc
	</select>
	
	<insert id="insertHomework"
			parameterType="Hanbit.co.kr.lms.vo.HomeworkMake">
		INSERT INTO homework_make 
			(lecture_name, homework_make_title , homework_make_content, homework_deadline ,create_date ,update_date)
		VALUE 
			(#{lectureName} ,#{homeworkMakeTitle},#{homeworkMakeContent},#{homeworkDeadline},NOW(),NOW())
	</insert>
	
</mapper>