<?xml version="1.0" encoding="UTF-8"?>   
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Hanbit.co.kr.lms.mapper.LectureNoticeMapper">
<!-- 운영자 공지사항 전체 개수 -->
	<select id="totalCount" parameterType="String" resultType="int">
		SELECT COUNT(*)
		FROM lecture_notice
		WHERE lecture_name = #{lectureName}
	</select>
	
	<!-- LectureNoticeMapper.getLectureNoticeListByPage 공지사항 목록 (페이징) -->
	<select id="getLecNoticeListByPage" parameterType="java.util.Map" resultType="Hanbit.co.kr.lms.vo.LectureNotice">
		SELECT
			 lec_notice_no lecNoticeNo
			,member_id memberId
			,lecture_name lectureName
			,title 
		 	,create_date createDate
		 FROM lecture_notice
		 WHERE lecture_name = #{lectureName}
		 ORDER BY create_date DESC
		 LIMIT #{beginRow}, #{rowPerPage}
	</select>

	<!-- LectureNotice getLecNoticeOne 공지사항 상세보기-->
	<select id="getLecNoticeOne" parameterType="int" resultType="Hanbit.co.kr.lms.vo.LectureNotice">
		SELECT
			lec_notice_no lecNoticeNo
			,member_id memberId
			,lecture_name lectureName
			,title
			,content
			,create_date createDate
			,update_date updateDate
		FROM lecture_notice
		WHERE lec_notice_no = #{lecNoticeNo}
	</select>
	
	
	<insert id="getInsertLectureNotice" parameterType="Hanbit.co.kr.lms.vo.LectureNotice">
		INSERT INTO lecture_notice(
			lec_notice_no 
			,member_id
			,lecture_name
			,title
			,content
			,create_date 
			, update_date
			)VALUES( 
			#{lecNoticeNo}
			,#{memberId}
			,#{lectureName}
			,#{title}
			,#{content}
			,NOW()
			,NOW()
	)		
	</insert>
	
	<delete id="getDeleteLectureNotice" parameterType="int">
		DELETE 
		FROM lecture_notice
		WHERE lec_notice_no = ${lecNoticeNo}
	</delete>
	
	<!-- 공지사항 수정 -->
	<update id="updateLecNotice" parameterType="Hanbit.co.kr.lms.vo.LectureNotice">
		UPDATE lecture_notice SET 
		member_id=#{memberId}
		,title=#{title}
		,content=#{content}
		,update_date=NOW()
		WHERE lec_notice_no = #{lecNoticeNo}
	</update>
	
	
	<select id="lectureNameList"
			parameterType="String"
			resultType="Hanbit.co.kr.lms.vo.LecPlan">
		SELECT lecture_name lectureName
		FROM lec_plan
		WHERE lec_state = 'T' AND teacher_id = #{teacherId}
	</select>
	
	<select id="studentLectureNameList" parameterType="String" resultType="Hanbit.co.kr.lms.vo.Registration">
		SELECT lecture_name lectureName
		FROM registration
 		WHERE student_id = #{studentId}
	</select>
	
	<!-- LectureNoticeMapper.getLectureNoticeListByPage 공지사항 목록 (페이징) -->
	<select id="lecNoticeList" parameterType="java.util.Map" resultType="Hanbit.co.kr.lms.vo.LectureNotice">
		SELECT
			 lec_notice_no lecNoticeNo
			,member_id memberId
			,lecture_name lectureName
			,title 
		 	,create_date createDate
		 FROM lecture_notice
		 WHERE lecture_name = #{lectureName}
		 ORDER BY create_date DESC
		 LIMIT #{beginRow}, #{rowPerPage}
	</select>
	
</mapper>