<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Hanbit.co.kr.lms.mapper.NoticeMapper">

	<!-- 운영자 공지사항 전체 개수 -->
	<select id="totalCount"
			parameterType="String"
			resultType="int">
		SELECT COUNT(*)
		FROM manager_notice
		WHERE category=#{category}
	</select>
	<!-- 운영자 공지사항 목록(페이징) -->
	<select id="getNoticeListByPage"
			parameterType="java.util.Map"
			resultType="Hanbit.co.kr.lms.vo.ManagerNotice">
		SELECT
			 manager_notice_no managerNoticeNo
			,manager_id managerId
			,manager_notice_title managerNoticeTitle
			,category
			,create_date createDate
		FROM manager_notice
		WHERE category=#{category}
		ORDER BY create_date DESC
		LIMIT #{beginRow},#{rowPerPage}
	</select>
</mapper>