<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Hanbit.co.kr.lms.mapper.QuestionnaireMapper">
	<!-- 승인된 강의의 종강일 -->
	<select id="endClassDate" resultType="Hanbit.co.kr.lms.vo.Questionnaire">
		SELECT
			 tt.lecture_name lectureName
			,tt.end_class endClass
		 FROM time_table tt
			INNER JOIN lec_plan lp
			ON tt.lecture_name = lp.lecture_name 
		 WHERE lp.lec_state = 'T' AND tt.end_class = DATE(NOW())
	</select>

	<!-- 설문조사 등록 -->	
	<insert id="insertQuestionnarie1" parameterType="String">
		INSERT INTO questionnaire (
			 lecture_name
			,evaluation_no
			,category
			,questionnaire_content
		) VALUE (
			 #{lectureName}
			,1
			,'강사'
			,'강사의 수업 준비는 체계적이었다.'
		)
	</insert>
	
	<insert id="insertQuestionnarie2" parameterType="String">
		INSERT INTO questionnaire (
			 lecture_name
			,evaluation_no
			,category
			,questionnaire_content
		) VALUE (
			 #{lectureName}
			,2
			,'강사'
			,'강사는 열정을 갖고 수업을 진행하였다.'
		)
	</insert>
	
	<insert id="insertQuestionnarie3" parameterType="String">
		INSERT INTO questionnaire (
			 lecture_name
			,evaluation_no
			,category
			,questionnaire_content
		) VALUE (
			 #{lectureName}
			,3
			,'강사'
			,'강사는 학생들을 이해시키려고 노력하였다.'
		)
	</insert>
	
	<insert id="insertQuestionnarie4" parameterType="String">
		INSERT INTO questionnaire (
			 lecture_name
			,evaluation_no
			,category
			,questionnaire_content
		) VALUE (
			 #{lectureName}
			,4
			,'강사'
			,'강사는 새로운 지식을 전하려 노력하였다.'
		)
	</insert>
		
	<insert id="insertQuestionnarie5" parameterType="String">
		INSERT INTO questionnaire (
			 lecture_name
			,evaluation_no
			,category
			,questionnaire_content
		) VALUE (
			 #{lectureName}
			,5
			,'강사'
			,'강사의 수업 내용 주별 진도는 적절하였다.'
		)
	</insert>
	
	<insert id="insertQuestionnarie6" parameterType="String">	
		INSERT INTO questionnaire (
			 lecture_name
			,evaluation_no
			,category
			,questionnaire_content
		) VALUE (
			 #{lectureName}
			,6
			,'강좌'
			,'강좌의 수업내용이 체계적으로 구성되었다.'
		)
	</insert>
	
	<insert id="insertQuestionnarie7" parameterType="String">	
		INSERT INTO questionnaire (
			 lecture_name
			,evaluation_no
			,category
			,questionnaire_content
		) VALUE (
			 #{lectureName}
			,7
			,'강좌'
			,'강좌의 수업자료가 학생들의 수준에 맞는 난이도로 제시되었다.'
		)
	</insert>
	
	<insert id="insertQuestionnarie8" parameterType="String">
		INSERT INTO questionnaire (
			 lecture_name
			,evaluation_no
			,category
			,questionnaire_content
		) VALUE (
			 #{lectureName}
			,8
			,'강좌'
			,'강좌의 수강에 따른 평가 기준 및 방식은 명확하게 제시되었다.'
		)
	</insert>
	
	<insert id="insertQuestionnarie9" parameterType="String">
		INSERT INTO questionnaire (
			 lecture_name
			,evaluation_no
			,category
			,questionnaire_content
		) VALUE (
			 #{lectureName}
			,9
			,'강좌'
			,'강좌의 교육인원이 교육효과를 달성하는데 적합한 규모였다.'
		)
	</insert>	
	
	<insert id="insertQuestionnarie10" parameterType="String">
		INSERT INTO questionnaire (
			 lecture_name
			,evaluation_no
			,category
			,questionnaire_content
		) VALUE (
			 #{lectureName}
			,10
			,'강좌'
			,'강좌의 수업방식이 학습목표에 맞게 진행되었다.'
		)
	</insert>
	
	<insert id="insertQuestionnarie11" parameterType="String">
		INSERT INTO questionnaire (
			 lecture_name
			,evaluation_no
			,category
			,questionnaire_content
		) VALUE (
			 #{lectureName}
			,11
			,'만족도'
			,'학원시설은 전반적으로 만족한다.'
		)
	</insert>
		
	<insert id="insertQuestionnarie12" parameterType="String">
		INSERT INTO questionnaire (
			 lecture_name
			,evaluation_no
			,category
			,questionnaire_content
		) VALUE (
			 #{lectureName}
			,12
			,'만족도'
			,'이 수강과목에 전반적으로 만족한다.'
		)
	</insert>
	
	<insert id="insertQuestionnarie13" parameterType="String">
		INSERT INTO questionnaire (
			 lecture_name
			,evaluation_no
			,category
			,questionnaire_content
		) VALUE (
			 #{lectureName}
			,13
			,'만족도'
			,'이 수강과목이 지속적으로 운영되었으면 좋겠다.'
		)
	</insert>
	
	<insert id="insertQuestionnarie14" parameterType="String">	
		INSERT INTO questionnaire (
			 lecture_name
			,evaluation_no
			,category
			,questionnaire_content
		) VALUE (
			 #{lectureName}
			,14
			,'만족도'
			,'이 수강과목이 나의 취업 및 진로에 도움이 될 것으로 생각한다.'
		)
	</insert>
	
	<insert id="insertQuestionnarie15" parameterType="String">
		INSERT INTO questionnaire (
			 lecture_name
			,evaluation_no
			,category
			,questionnaire_content
		) VALUE (
			 #{lectureName}
			,15
			,'만족도'
			,'이 수강과목을 주변에 권하고싶다.'
		)
	</insert>
	
	<insert id="insertQuestionnarie16" parameterType="String">	
		INSERT INTO questionnaire (
			 lecture_name
			,evaluation_no
			,category
			,questionnaire_content
		) VALUE (
			 #{lectureName}
			,16
			,'참여도'
			,'수업시간에 집중하여 열심히 들었다.'
		)
	</insert>
	
	<insert id="insertQuestionnarie17" parameterType="String">
		INSERT INTO questionnaire (
			 lecture_name
			,evaluation_no
			,category
			,questionnaire_content
		) VALUE (
			 #{lectureName}
			,17
			,'참여도'
			,'수업활동에 적극 참여하였다.'
		)
	</insert>
		
	<insert id="insertQuestionnarie18" parameterType="String">
		INSERT INTO questionnaire (
			 lecture_name
			,evaluation_no
			,category
			,questionnaire_content
		) VALUE (
			 #{lectureName}
			,18
			,'참여도'
			,'수업과제를 적극적으로 제출하였다.'
		)
	</insert>
		
	<insert id="insertQuestionnarie19" parameterType="String">
		INSERT INTO questionnaire (
			 lecture_name
			,evaluation_no
			,category
			,questionnaire_content
		) VALUE (
			 #{lectureName}
			,19
			,'참여도'
			,'수업외 시간에도 공부를 진행하였다.'
		)
	</insert>
		
	<insert id="insertQuestionnarie20" parameterType="String">
		INSERT INTO questionnaire (
			 lecture_name
			,evaluation_no
			,category
			,questionnaire_content
		) VALUE (
			 #{lectureName}
			,20
			,'참여도'
			,'강사와의 소통에 적극적으로 참여하였다.'
		)
	</insert>
	
	<select id="selectQuestioncheck" parameterType="String" resultType="int">
		SELECT COUNT(*)
		FROM questionnaire_answer
		WHERE student_id = #{studentId}			 
	</select>
	
	<select id="selectlecList" parameterType="String" resultType="Hanbit.co.kr.lms.vo.Registration">
		SELECT lecture_name lectureName
		FROM registration
		WHERE student_id = #{studentId}		
	</select>
	
	<select id="selectQuestionnaireList" parameterType="String"
		resultType="Hanbit.co.kr.lms.vo.Questionnaire">
			SELECT 
				lecture_name lectureName
				,evaluation_no evaluationNo
				,category
				,questionnaire_content questionnaireContent
			FROM questionnaire
			WHERE lecture_name = #{lectureName}
	</select>
	
	<insert id="selectQuestionnairecheck" parameterType="java.util.Map">
		INSERT INTO questionnaire_answer
			(questionnaire_no
			, student_id
			, selected_evaluation_no
			, create_date
			, update_date
		) VALUES
			(
			#{que}
			,#{studentId}			 
			,#{check}
			, NOW()
			, NOW()
			)
	</insert>
	
	<select id="selectLecCategoryQueScore" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT 
			q.questionnaire_no questionnaireNo
			, q.lecture_name lectureName 
			, q.questionnaire_content questionnaireContent
			, qa.selected_evaluation_no selectedEvaluationNo
			, count(qa.selected_evaluation_no) people
		FROM questionnaire_answer qa INNER JOIN questionnaire q
		ON qa.questionnaire_no = q.questionnaire_no
		INNER JOIN registration r 
		ON q.lecture_name= r.lecture_name
		WHERE r.registration_no = #{num} AND q.questionnaire_no = #{checknum}
		GROUP BY qa.selected_evaluation_no	
	</select>
	
	<select id="selectLecScore" resultType="java.util.Map">
		SELECT r.registration_no registrationNo
			, q.lecture_name lectureName 
			, ROUND(AVG(qa.selected_evaluation_no),1) selectedEvaluationNo
		FROM questionnaire_answer qa INNER JOIN questionnaire q
		ON qa.questionnaire_no = q.questionnaire_no
		INNER JOIN registration r 
		ON q.lecture_name= r.lecture_name
		GROUP BY q.lecture_name
	</select>
	
	<select id="selectCategoryScore" parameterType="int" resultType="java.util.Map">
		SELECT r.registration_no registrationNo
			, q.lecture_name lectureName 
			,q.category category
			, ROUND(AVG(qa.selected_evaluation_no),1) selectedEvaluationNo
		FROM questionnaire_answer qa INNER JOIN questionnaire q
		ON qa.questionnaire_no = q.questionnaire_no
		INNER JOIN registration r 
		ON q.lecture_name= r.lecture_name
		WHERE r.registration_no = #{registrationNo}
		GROUP BY q.category
	
	</select>
</mapper>