<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Hanbit.co.kr.lms.mapper.QuestionnaireMapper">

	<select id="selectQuestioncheck" parameterType="String" resultType="int">
		SELECT COUNT(*)
		FROM questionnaire_answer
		WHERE student_id = #{studentId}			 
	</select>
	
	<select id="selectlecList" parameterType="String" resultType="Hanbit.co.kr.lms.vo.Registration">
		SELECT lecture_name lectureName
		FROM registration
		WHERE student_id = #{studentId}		
	</select>
	
	<select id="selectQuestionnaireList" parameterType="String"
		resultType="Hanbit.co.kr.lms.vo.Questionnaire">
			SELECT 
				lecture_name lectureName
				,evaluation_no evaluationNo
				,category
				,questionnaire_content questionnaireContent
			FROM questionnaire
			WHERE lecture_name = #{lectureName}
	</select>
	
	<insert id="selectQuestionnairecheck" parameterType="java.util.Map">
		INSERT INTO questionnaire_answer
			(questionnaire_no
			, student_id
			, selected_evaluation_no
			, create_date
			, update_date
		) VALUES
			(
			#{que}
			,#{studentId}			 
			,#{check}
			, NOW()
			, NOW()
			)
	</insert>
	
	<select id="selectLecCategoryQueScore" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT 
			q.questionnaire_no questionnaireNo
			, q.lecture_name lectureName 
			, q.questionnaire_content questionnaireContent
			, qa.selected_evaluation_no selectedEvaluationNo
			, count(qa.selected_evaluation_no) people
		FROM questionnaire_answer qa INNER JOIN questionnaire q
		ON qa.questionnaire_no = q.questionnaire_no
		INNER JOIN registration r 
		ON q.lecture_name= r.lecture_name
		WHERE r.registration_no = #{num} AND q.questionnaire_no = #{checknum}
		GROUP BY qa.selected_evaluation_no	
	</select>
	
	<select id="selectLecScore" resultType="java.util.Map">
		SELECT r.registration_no registrationNo
			, q.lecture_name lectureName 
			, ROUND(AVG(qa.selected_evaluation_no),1) selectedEvaluationNo
		FROM questionnaire_answer qa INNER JOIN questionnaire q
		ON qa.questionnaire_no = q.questionnaire_no
		INNER JOIN registration r 
		ON q.lecture_name= r.lecture_name
		GROUP BY q.lecture_name
	</select>
	
</mapper>