<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Hanbit.co.kr.lms.mapper.RegistrationMapper">
	<select id="selectRegistration"
			parameterType="java.lang.String"
			resultType="Hanbit.co.kr.lms.vo.Registration">
		SELECT registration_no registrationNo
				,lecture_Name lectureName
				,payment
				,create_date createDate
		FROM registration
		WHERE student_id = #{studentId}
			
	</select>
	
	<insert id="insertRegistration"
			parameterType="Hanbit.co.kr.lms.vo.Registration">
		INSERT INTO registration(
		lecture_name
		,student_id
		,payment
		,create_date
		,update_date
		) VALUES(
			#{lectureName}
			,#{studentId}
			,0
			,NOW()
			,NOW()
		);
		
	</insert>
	<select id="selectRegistrationByStudent"
			parameterType="java.lang.String"
			resultType="java.util.HashMap">
			SELECT
				 r.lecture_name lectureName
				,l.lecture_room_name lectureroomName
				,l.lec_phone lecPhone
				,l.subject_name subjectName
				,l.lec_cost lecCost
				,l.difficulty difficulty
				,l.registration_pass_score regPassScore
				,l.registration_number registrationNumber
				,r.payment payment
				,r.create_date createDate
			FROM registration r 
			INNER JOIN lec l 
			ON  r.lecture_name = l.lecture_name
			WHERE r.student_id= #{studentId} AND r.lecture_name = #{lectureName}		
	</select>

</mapper>