<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Hanbit.co.kr.lms.mapper.UserFindMapper">

	<select id="studentFindId" parameterType="Hanbit.co.kr.lms.vo.Student"
		resultType="String">
		SELECT 
			student_id studentId
		FROM student
		WHERE student_name = #{studentName} AND student_phone = #{studentPhone} 
	</select>
	
	<select id="studentFindPw" parameterType="Hanbit.co.kr.lms.vo.Student"
		resultType="String">
			SELECT 
				student_pw studentPw
			FROM student
			WHERE student_id = #{studentId} AND student_name = #{studentName} AND student_phone = #{studentPhone}
		</select>
		
	<select id="teacherFindPw" parameterType="Hanbit.co.kr.lms.vo.Teacher"
		resultType="String">
			SELECT
				teacher_pw teacherPw
			FROM teacher
			WHERE teacher_id = #{teacherId} AND teacher_name = #{teacherName} AND teacher_phone = #{teacherPhone}	
		</select>
		
	<select id="managerFindPw" parameterType="Hanbit.co.kr.lms.vo.Manager"
		resultType="String">
		SELECT
			manager_pw managerPw
		FROM manager
		WHERE manager_id = #{managerId} AND manager_name = #{managerName} AND manager_phone = #{managerPhone}	
	</select>		
	
	<update id="studentUpdatePw" parameterType="Hanbit.co.kr.lms.vo.Student">
		UPDATE student SET 
			student_pw = PASSWORD(#{studentPw})
		WHERE student_id = #{studentId}
	</update>	
	
	<update id="teacherUpdatePw" parameterType="Hanbit.co.kr.lms.vo.Teacher">
		UPDATE teacher SET
			teacher_pw = PASSWORD(#{teacherPw})
		WHERE teacher_id = #{teacherId}
	</update>

	<update id="managerUpdatePw" parameterType="Hanbit.co.kr.lms.vo.Manager">
		UPDATE manager SET
			manager_pw = PASSWORD(#{managerPw})
		WHERE manager_id = #{managerId}	
	</update>
		
	<select id="teacherFindId" parameterType="Hanbit.co.kr.lms.vo.Teacher"
		resultType="String">
		SELECT
			teacher_id teacherId
		FROM teacher
		WHERE teacher_name = #{teacherName} AND teacher_phone = #{teacherPhone}	
	</select>	
	
	<select id="managerFindId" parameterType="Hanbit.co.kr.lms.vo.Manager"
		resultType="String">
		SELECT 
			manager_id managerId
		FROM manager
		WHERE manager_name = #{managerName} AND manager_phone = #{managerPhone} 
	</select>
	
	<insert id="passwordUpdate" parameterType="String">
		INSERT INTO password_update_date(member_id, member_pw, create_date
		) VALUES (
		#{id}
		, PASSWORD(#{pw})
		, now())
	</insert>
</mapper>